
.item{
    width: 100%;
    height: max-content;
    background-color: snow;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article{
    text-align: center;
    margin-top: 10px;
    height: 50px;
}
.remove-edit{
   display: flex;
   justify-content: space-evenly;
    width: 100%    
}
.edit-secnd{
    width: 40px;
    height: 30px;
    border-radius: 5px;
    background-image: url('../img/edit.svg');
    background-repeat: no-repeat;
    background-position: center;
    
}
